body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-container {
  background: #1a1919;
  height: 300px;
}

.card-img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.jedi{
  color: black
}

#sith_img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;  
  height: 700px;  
  text-align: center;  
  padding: 15px; 
}

#sith_img:hover{
  border-color: #66afe9;
  box-shadow: 0 0 20px rgba(200,0,0, 1);
}

#jedi_img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;  
  height: 700px;  
  text-align: center;  
  padding: 15px; 
}

#jedi_img:hover{ 
  border-color: #66afe9;
  box-shadow: 0 0 20px rgba(0,0,200, 1);
}


.homePage{
  text-align: center;
  background: black;
}

#app-body{
  background: black;
}

#destiny{
  font-size: 40px;
  color: yellow;
}

#honor{
  color:yellow;
}

#objective{
  color: yellow;
}

#meet-developers{
  color: #0DDAEA;
  text-align: center; 
}

#developer-cards{
  margin: 0px;
}

.card-img-container-sith {
  background: #870E04;
  height: 300px;
}

.card-img-container-jedi {
  background: #045387;
  height: 300px;
}

